<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Address: {{ site.address_line }} <br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about.html"> About us ( and our vision )</a></p>
        <p><a href="/about.html"> Solution ( what we aim for )</a></p>
        <p><a href="/team.html"> Team ( meet the people )</a></p>
        <p><a href="/contact.html"> Contact ( feel free to contact us )</a></p>  
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> In depth</h3>
        <p><a href="/technology.html"> Technology (how we do it)</a></p>
        <p><a href="/nabc.html"> Business model (what we are looking for) </a></p>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">xSpectre AB</a>. </p>
  </div>
</footer>
