<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper">
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                        <li data-target="#carousel-1" data-slide-to="5"></li>
                        <li data-target="#carousel-1" data-slide-to="6"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/xspectre_field_sampling_01.jpg" height="400" alt="Image of first carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Soil field analysis</h3>
                                <p class="carousel-body">in-situ sensing and sample collection </p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/xspectre_field_sampling_03.jpg" height="400" alt="Image of second carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Spectrometer basic</h3>
                                <p class="carousel-body">in-situ spectral sensing</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/xspectre_field_sampling_02.jpg" height="400" alt="Image of third carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Spectrometer+ precision</h3>
                                <p class="carousel-body">in-situ spectral sensing + direct probing</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->

                        <!-- Begin Slide 4 -->
                        <div class="item">
                            <img src="../assets/img/slider/xspectre_lab_test_01.jpg" height="400" alt="Image of forth carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Soil laboratory analysis </h3>
                                <p class="carousel-body"> spectral sensing and ISE probing</p>
                            </div>
                        </div>
                        <!-- End Slide 4 -->

                        <!-- Begin Slide 5 -->
                        <div class="item">
                            <img src="../assets/img/slider/xspectre_lab_test_04.jpg" height="400" alt="Image of fifth carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Spectrometer basic</h3>
                                <p class="carousel-body">Laboratory spectral sensing</p>
                            </div>
                        </div>
                        <!-- End Slide 5 -->

                        <!-- Begin Slide 6 -->
                        <div class="item">
                            <img src="../assets/img/slider/xspectre_lab_test_05.jpg" height="400" alt="Image of sixth carousel">
                            <div class="carousel-caption">
                              <h3 class="carousel-title hidden-xs">Spectrometer+ professional</h3>
                              <p class="carousel-body">Laboratory probing with Ion Selective Electrodes</p>
                            </div>
                        </div>

                        <!-- Begin Slide 7 -->
                        <div class="item">
                            <img src="../assets/img/slider/xspectre_lab_test_06.jpg" height="400" alt="Image of secenth carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Spectrometer+ professional</h3>
                                <p class="carousel-body">Ion Selective Electrodes for laboratory analysis</p>
                            </div>
                        </div>

                        <!-- End Slide 6 -->
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">xSpectre's</h3>
                    <p class="services-header-body"><em> Swiss army knife for soil sensing </em>  </p><hr>
                </div>
            </div>

            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">

                        <h4 class="services-title">xSpectre's spectrometer<b>+</b></h4>
                        Our handheld spectrometer is a science-grade light sensor for identifying the composition of soils and other materials. At xSpectre we have added external probes for direct soil analysis in the field and Ion Selective Electrodes for laboratory soil testing, hence the <b>+</b> in spectrometer<b>+</b>.</p>
                        <p class="services-more"><a href="../solution.html#anchor1">Spectral soil sensing</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">

                        <h4 class="services-title">Spectral modelling</h4>
                        <p class="services-body">We have developed a Machine-Learning (ML) supported mathematical-geometric modeling framework to support spectral modeling, translating the spectra to sample content. The framework facilitates both model construction and interpretation of spectral model result.</p>
                        <p class="services-more"><a href="../solution.html#anchor2">On spectral libraries and models</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">

                        <h4 class="services-title">Cross platform app</h4>
                        <p class="services-body">The cross platform app developed by xSpectre acts as the graphical interface between the spectrometer+ and the online services for storing and analyzing spectral data. When used in the field with a mobile, the app also makes use of the mobile GPS to locate the sample point. </p>
                        <p class="services-more"><a href="../solution.html#anchor3">Frontend and backend solutions</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 1 -->

            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">

                        <h4 class="services-title">User community</h4>
                        <p class="services-body">Soil properties depend on local conditions, like geology, climate, topography and practices. xSpectre aims at creating a user community of farmers and ag-tech specialists that can support the development of better, locally adjusted, spectral translation model and thus improve the soil information to the farmers. </p>
                        <p class="services-more"><a href="../solution.html#anchor4">Users as citizen scientists</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">

                        <h4 class="services-title">Technology</h4>
                        <p class="services-body">xSpectre's handheld spectrometer<b>+</b> is built on new miniaturized spectral sensors and probes for the concentration of different ions and physical properties. Equally important is the growth of open-source data and models that has paved the way both for constructing and improving spectral models.</p>
                        <p class="services-more"><a href="../technology">In depth on our technology</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">

                        <h4 class="services-title">SaaS business model</h4>
                        <p class="services-body">We at xSpectre recognize three typical customers: basic, precision and professional. Basic users get a spectrometer to analyze soils; precision users get a spectrometer<b>+</b>  and can improve there own spectral models; professional users also get lab-equipment and can make maps from satellite images.</p>
                        <p class="services-more"><a href="../nabc.html">More about our business model</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->

        </div>
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
